// @use './base/base';
// @use './layout/header';
// @use './layout/footer';
$colorPrimary300: #4fc3f7;
$colorPrimary: #039be0;

$colorGray50: #eceff1;
$colorGray100: #cfd8dc;
$colorGray200: #b0bec5;
$colorGray: #607d8b;
$colorGray600: #546e7a;

$colorGreen50: #f1f8e9;
$colorRed50: #ffebee;

body {
  font-family: "Roboto", sans-serif;
  background-color: $colorGray50;
  color: rgba(#000, 0.87);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  font-weight: 300;
  padding: 50px 0;
}

* {
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  margin: 0 0 30px;
}

h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26px;
  margin: 0 0 30px;
  color: $colorPrimary;
}

.sep {
  height: 1px;
  width: 100%;
  background-color: $colorGray50;
  margin-bottom: 30px;
}

strong {
  font-weight: 500;
}

a {
  color: #000;
  transition: all 0.3s ease;

  &:hover {
    color: $colorPrimary;

    &:active {
      color: $colorPrimary300;
      transition-duration: 0s;
    }
  }
}

.wrapper {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: 0 auto;
}

.panel {
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
}

.checklist {
  margin: 0 0 30px;
  padding: 0;

  &-item {
    list-style: none;
    margin-bottom: 15px;
    margin-left: 28px;
    position: relative;

    &.A,
    &.AA,
    &.AAA {
      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: -53px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
      }
    }

    &.A {
      &::before {
        content: "A";
        background-color: #aaa9ad;
      }
    }

    &.AA {
      &::before {
        content: "AA";
        background-color: #d4af37;
      }
    }

    //&.AAA {
    //  &::before {
    //    content: "AAA";
    //    background-color: #d4af37;
    //  }
    //}

    &-label {
      cursor: pointer;
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 2px;
        position: absolute;
        left: -28px;
        top: 1px;
        transition: all 0.3s ease;
      }

      &::before {
        border: 1px solid $colorGray200;
      }

      &::after {
        transform: scale(0);
        background-color: $colorPrimary;
      }

      &:hover {
        &::after {
          transform: scale(0.5);
        }
      }

      &.checked {
        &::after {
          transform: scale(1);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0 0 0 20px;
        margin: 10px 0;
        position: relative;

        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          background-color: $colorGray;
          position: absolute;
          top: 8px;
          left: 5px;
        }
      }
    }
  }
}

code {
  background-color: $colorGray50;
  padding: 0 3px;
  border-radius: 3px;
  color: $colorGray600;
}

xmp {
  background-color: $colorGreen50;
  border-radius: 3px;
  color: #37474f;
  font-size: 12px;
  line-height: 15px;
  padding: 15px 25px;
  color: $colorGray600;
  margin: 10px 0;

  &.not-allowed {
    background-color: $colorRed50;
  }
}

.text-small {
  font-style: italic;
  font-size: 13px;
  line-height: 16px;
}
